@-webkit-keyframes blink {
  0%     { opacity: 1 } 50% { opacity: .9 }
  50.01% { opacity: 0 } 100% { opacity: 0 }
}

@-moz-keyframes blink {
  0%     { opacity: 1 } 50% { opacity: .9 }
  50.01% { opacity: 0 } 100% { opacity: 0 }
}


@keyframes gifwait 
{
0% { opacity: 0; }
99% { opacity: 0; }
100% { opacity: 1; }
}
@-webkit-keyframes gifwait 
{
0% { opacity: 0; }
99% { opacity: 0; }
100% { opacity: 1; }
}
@-moz-keyframes gifwait 
{
0% { opacity: 0; }
99% { opacity: 0; }
100% { opacity: 1; }
}
 

	body {
		background: url('boroveen.github.io/jpeg/file.png');
	}
	h1 {
		width: 75%;
		padding: 10px;
		border-radius: 5px;
		background: grey;
		color: #eeda00;	
	}
	#dildosky {


		z-index: -1;
		position: fixed;
		height:  100%;
		bottom: 0px;
		left: 25%;		
	}

img.rot {
  animation: 1s linear 0s normal none infinite running rot;
  -webkit-animation: 1s linear 0s normal none infinite running rot;
  width: 1000px;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
