.header {
	width: 99%;
	height: 99vh;

	background: url("https://boroveen.github.io/jpeg/background.jpg") center no-repeat;
	
	background-size: cover;
}

.window {
	width: 70%;
	height: 20vh;
	position: absolute;
	top: 45%;
    left: 25%;
    margin: -125px 0 0 -125px;
	background-color: rgba(255,255,255,.6);
	backdrop-filter: blur(10px);
}
