@media screen and (min-width: 980px) {
	.header {
		width: 99%;
		height: 99vh;
	
		background: url("https://boroveen.github.io/jpeg/background.jpg") center no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}
	.window {
		width: 50%;
		height: 20vh;
		position: absolute;
		top: 40%;
		left: 24%;
		background-color: rgba(255,255,255,.6);
		backdrop-filter: blur(10px);
	}
	.text1 {
		text-align:center;
		color: #451a8a
	}
}　
@media screen and (max-width: 480 пикселей) {
	.header {
		width: 99%;
		height: 99vh;
	
		background: url("https://boroveen.github.io/jpeg/background.jpg") center no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}
	.window {
		width: 50%;
		height: 20vh;
		position: absolute;
		top: 40%;
		left: 24%;
		background-color: rgba(255,255,255,.6);
		backdrop-filter: blur(10px);
	}
	.text1 {
		text-align:center;
		color: #451a8a
	}
}　
/*из ВК я хочу уйти. сижу там не часто и заявки в друзья не принимаю*/
